/*applies border box box sizing for all elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* changes the background color for the body elemnt of the html page*/
body {
    background-color: #d9dcd6;
}
/* set the header links text color to white for the a element*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* set paragraph element font size to 16px*/
p {
    font-size: 16px;
}
/*sets the text color, background color, font family and padding for the class element heaer*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*sets the inline block display style and font size of 48px for the h1 elements inside the class element header*/ 
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*sets the text color of the class element seo inside the h1 element inside the class header element*/
.header h1 .seo {
    color: #d9dcd6;
}
/*sets the padding, margin, float, font size, and font family for the div element inside the class element header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*sets the list style type as none for the ul element inside the div element inside the class element header*/
.header div ul {
    list-style-type: none;
}
/*sets the display for inline block and the margin for the li element inside the ul element inside the div element inside the class element header*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*sets the height, width, margin bottom, background image, background size, and background position for the class element hero*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*sets the float and right margin for the class element float-left*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*sets the float and left margin for the class element float-right*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*sets the width display and left margin for the class element content*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* sets the right margin, padding, clear, float, width, height, font family, and background color for the class element benifits*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*for the class elements benifit-lead, benifit-brand, and benifit-cost, set the color and margin bottom*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*for the h3 element inside the class elements benifit-lead, benifit-brand, and benifit-cost, set the margin bottom and text allignment*/
.benefit-brand h3, .benefit-cost h3, .benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*for the img element inside the class elements benifit-lead, benifit-brand, and benifit-cost, set the margin display and max width*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*for the class elements online-reputation-management, social-media-marketing, and search-engine-optimization, set the margin bottom, padding, height, font family, background color and text color*/
.online-reputation-management, .social-media-marketing, .search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*for the img elements inside the class elements online-reputation-management, social-media-marketing, and search-engine-optimization, set the max height to 200px*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}
/*for the h2 elements inside the class elements online-reputation-management, social-media-marketing, and search-engine-optimization, set the margin bottom to 20px and the font size to 36px*/
.social-media-marketing h2, .online-reputation-management h2, .search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*set the padding, clear, font family, and text align for the class element footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*set the font size to 20px for the h2 element inside the class element footer*/
.footer h2 {
    font-size: 20px;
}
